<launch>
  <include file="$(find ur16e_moveit_config)/launch/demo.launch">
    <arg name="pipeline" value="ompl" />
  </include>

  <include file="$(find yolo_bounding_box_detection)/launch/yolo_detection_server.launch"></include>

  <include file="$(find raspberry_pi_camera)/launch/raspberry_pi_camera_server.launch"></include>

  <rosparam command="load" file="$(find bark_slidebot)/config/configs.yaml" />

  <node name="publish_config_poses_to_tf" pkg="bark_slidebot" type="publish_config_poses_to_tf.py" respawn="false" output="screen"></node>

  <include file="$(find camera_projections)/launch/camera_projections_server.launch"></include>

  <node name="bark_slidebot" pkg="bark_slidebot" type="bark_slidebot.py" respawn="false" output="screen"></node>

</launch>
